#timer{
  background-color: #0e83cd;
  padding: 25px 80px;
  display: inline-block;
  /* margin: 10px; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border: 3px solid #fff;
  color: #fff;
  position:fixed;
  margin-left:45px;
  margin-top:25px;
}

label {
    margin-right: 15px;
    line-height: 32px;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    
    position: relative;
    top: 4px;
  }
  
  input:checked {
    border: 6px solid black;
  }
  .color-pattern-1 {
    background: #0e83cd;
}


  .button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
}

.button-1 {
    border: 3px solid #fff;
    color: #fff;
}

/* Button 1e */
.button-1e {
  overflow: hidden;
}
.button-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.button-1e:hover,
.button-1e:active {
  color: #0e83cd;
}
.button-1e:hover:after {
  height: 335%;
  opacity: 1;
}
.button-1e:active:after {
  height: 400%;
  opacity: 1;
}

  
 